* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
}

body {
        font-family: Arial, sans-serif;
}

.regSection {
        margin-top: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
}

.regMain {
        width: 100%;
        max-width: 600px;
        padding: 20px;
        border: 0.5px solid rgba(128, 128, 128, 0.248);
}

.regContainer {
        width: 100%;
        padding: 20px;
}

.companyName {
        width: 100px;
        margin: 0 auto;
        text-align: center;
}

.companyName img {
        max-width: 100%;
}

.input {
        margin: 10px 0;
}

.input input,select {
        width: 100%;
        border: 1px solid rgba(128, 128, 128, 0.657);
        border-radius: 3px;
        height: 40px;
        background-color: #8080802e;
        font-size: 14px;
        padding: 0 10px;
}



.loginBtn {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 20px 0;
}

.loginBtn button {
        width: 100%;
        padding: 10px;
        font-size: 15px;
        font-weight: bold;
        color: white;
        background-color: rgb(76, 181, 249);
        border: none;
        border-radius: 8px;
        cursor: pointer;
}



.account {
        width: 100%;
        max-width: 600px;
        padding: 20px;
        border: 0.5px solid #8080803f;
        margin-top: 20px;
}


.account p {
        font-size: 15px;
        text-align: center;
}

.account a {
        text-decoration: none;
        color: rgb(15, 59, 116);
        font-weight: 600;
}

@media only screen and (max-width: 680px) {

        .regMain,
        .account {
                margin: 0 10px;
                border: 0.5px solid rgba(128, 128, 128, 0.248);
        }

        .regContainer {
                margin: 0 auto;
        }

        .input input, select {
                height: 30px;
                font-size: 12px;
        }

        .loginBtn button {
                padding: 5px;
                font-size: 14px;
        }
}

@media only screen and (min-width: 681px) and (max-width: 1099px) {

        .regMain,
        .account {
                margin: 0 50px;
        }

        .regContainer {
                margin: 0 auto;
        }

        .input {
                margin: 10px auto;
        }

        .loginBtn button {
                padding: 10px;
                font-size: 15px;
        }

      
}